
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<PhamQuy.Models.Category>
<h2>Category</h2>
<a asp-action="Add">Add</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a asp-action="Display" asp-route-id="@category.Id">View</a> |
                    <a asp-action="Update" asp-route-id="@category.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

